<% if !user_signed_in? %>
<div class="panel panel-default">
  <div class="panel-heading">Tischtennis Rangliste</div>
  <div class="panel-body">
    <p>Melde Dich jetzt an, um bei TabTen teilzunehmen.</p>
    <p>Fordere andere Spieler heraus und erobere die Spitze der Rangliste.</p>
    <%= link_to "Log in", new_user_session_path, class: "btn navbar-btn" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger navbar-btn" %>
  </div>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">Tischtennis Rangliste</div>
  <div class="panel-body-ranking">
    <div class = "pyramid">
      <% n = 1 %>
      <% challenge_range = (user_signed_in? ? current_user.challenge_range : Array[]) %>
      <% users = @users.to_a %>
      <% until users.empty? %>
      <% edge = users.shift(n) %>
      <div class = "level">
        <% edge.each do |user| %>
        <%= content_tag(:div, user.name, :class => "btn btn-danger navbar-btn user #{(challenge_range.include?(user.ranking) ? "challenge" : "")}") %>
        <% end %>
        <% if users.empty? %>
        <% (n-edge.size).times do %>
            <div class = "btn btn-danger navbar-btn user"></div>
          <% end %>
        <% end %>
      </div>
      <div class = "clear"></div>
      <% n += 1 %>
      <% end %>
    </div>
  </div>
</div>